In [112]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import json
from config import postgresLogin, postgresPwd
from pandas.io.json import json_normalize

In [130]:
# use json_normalize to make the json readable
with open('data/rating.json') as file: 
    dog_file = json.load(file) 
dog_df = json_normalize(dog_file['dog_breeds'])
dog_df.head(10)

,Affenpinscher. Adaptability,Affenpinscher. All Around Friendliness,Affenpinscher. Exercise Needs,Affenpinscher. Health Grooming,Affenpinscher. Trainability,Affenpinscher.Adapts Well to Apartment Living,Affenpinscher.Affectionate with Family,Affenpinscher.Amount Of Shedding,Affenpinscher.Dog Friendly,Affenpinscher.Drooling Potential,...,Yorkshire Terrier.Potential For Playfulness,Yorkshire Terrier.Potential For Weight Gain,Yorkshire Terrier.Prey Drive,Yorkshire Terrier.Sensitivity Level,Yorkshire Terrier.Size,Yorkshire Terrier.Tendency To Bark Or Howl,Yorkshire Terrier.Tolerates Being Alone,Yorkshire Terrier.Tolerates Cold Weather,Yorkshire Terrier.Tolerates Hot Weather,Yorkshire Terrier.Wanderlust Potential
0,3,3,4,2,3,5,5,1,4,1,...,5,2,2,5,1,3,2,2,2,3

In [131]:
# clean up columns by separating breeds and traits
breeds = dog_df.columns.str.split('.').str[0]
traits = dog_df.columns.str.split('.').str[1]

#drop duplicates to establish the number of unique values for each axis
breeds = breeds.drop_duplicates()
traits = traits.drop_duplicates()

#determine how many breeds there are and how many traits are measured (214 breeds and 31 traits)
len(breeds), len(traits)

(214, 31)

In [132]:
#resize the shape of the values to fit the new dataframe
dog_array = dog_df.values
dog_array.resize(len(breeds),len(traits))
dog_array.shape

new_dog_df = pd.DataFrame(dog_array, index=breeds, columns=traits)
#return the new dataframe
new_dog_df

,Adaptability,All Around Friendliness,Exercise Needs,Health Grooming,Trainability,Adapts Well to Apartment Living,Affectionate with Family,Amount Of Shedding,Dog Friendly,Drooling Potential,...,Potential For Playfulness,Potential For Weight Gain,Prey Drive,Sensitivity Level,Size,Tendency To Bark Or Howl,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Wanderlust Potential
Affenpinscher,3,3,4,2,3,5,5,1,4,1,...,4,3,3,3,1,2,1,3,3,2
Afghan Hound,4,4,4,2,3,5,5,4,4,1,...,4,1,5,5,4,2,2,5,5,5
Airedale Terrier,2,4,5,3,5,1,4,2,4,1,...,5,4,5,3,3,4,2,3,3,4
Akita,3,2,4,4,4,2,5,5,1,5,...,5,4,4,5,4,5,1,5,2,4
Alaskan Klee Kai,3,3,4,3,4,3,4,4,2,2,...,4,2,5,4,2,3,2,5,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Highland White Terrier,4,4,4,3,4,4,5,4,5,1,...,4,4,4,4,2,4,2,4,3,3
Whippet,3,5,4,3,4,5,5,2,4,1,...,5,1,5,5,3,1,2,1,4,4
Wirehaired Pointing Griffon,3,5,4,3,4,1,5,1,4,1,...,5,3,4,4,3,4,1,4,3,4
Yorkipoo,4,4,4,2,4,5,5,1,3,1,...,4,2,3,4,1,5,3,2,3,2
Yorkshire Terrier,3,3,5,2,3,5,4,2,3,1,...,5,2,2,5,1,3,2,2,2,3

In [133]:
new_dog_df.columns

Index([' Adaptability', ' All Around Friendliness', ' Exercise Needs',
       ' Health Grooming', ' Trainability', 'Adapts Well to Apartment Living',
       'Affectionate with Family', 'Amount Of Shedding', 'Dog Friendly',
       'Drooling Potential', 'Easy To Groom', 'Easy To Train', 'Energy Level',
       'Exercise Needs', 'Friendly Toward Strangers', 'General Health',
       'Good For Novice Owners', 'Incredibly Kid Friendly Dogs',
       'Intelligence', 'Intensity', 'Potential For Mouthiness',
       'Potential For Playfulness', 'Potential For Weight Gain', 'Prey Drive',
       'Sensitivity Level', 'Size', 'Tendency To Bark Or Howl',
       'Tolerates Being Alone', 'Tolerates Cold Weather',
       'Tolerates Hot Weather', 'Wanderlust Potential'],
      dtype='object')

In [134]:
#narrow list of traits to most relevant subset
new_dog_df = new_dog_df[[' All Around Friendliness', 'Energy Level','Exercise Needs', 'Friendly Toward Strangers', 'Incredibly Kid Friendly Dogs', 'Intelligence', 'Size']]

new_dog_df

,All Around Friendliness,Energy Level,Exercise Needs,Friendly Toward Strangers,Incredibly Kid Friendly Dogs,Intelligence,Size
Affenpinscher,3,4,3,3,1,4,1
Afghan Hound,4,5,4,2,5,4,4
Airedale Terrier,4,5,5,3,4,5,3
Akita,2,4,4,2,1,3,4
Alaskan Klee Kai,3,4,4,2,3,4,2
...,...,...,...,...,...,...,...
West Highland White Terrier,4,4,4,3,4,4,2
Whippet,5,5,5,4,5,4,3
Wirehaired Pointing Griffon,5,5,4,5,5,5,3
Yorkipoo,4,5,3,2,4,4,1
Yorkshire Terrier,3,5,4,2,2,3,1

In [135]:
#rename and reorganize columns
new_dog_df = new_dog_df.rename(columns={' All Around Friendliness': 'friendly_overall', 'Energy Level': 'energy', 'Exercise Needs': 'exercise_needs', 'Friendly Toward Strangers': 'friendly_strangers', 'Incredibly Kid Friendly Dogs': 'friendly_kids', 'Intelligence': 'intelligence', 'Size': 'size'})

new_dog_df = new_dog_df[['size', 'intelligence', 'energy', 'exercise_needs', 'friendly_overall', 'friendly_kids', 'friendly_strangers']]

new_dog_df

,size,intelligence,energy,exercise_needs,friendly_overall,friendly_kids,friendly_strangers
Affenpinscher,1,4,4,3,3,1,3
Afghan Hound,4,4,5,4,4,5,2
Airedale Terrier,3,5,5,5,4,4,3
Akita,4,3,4,4,2,1,2
Alaskan Klee Kai,2,4,4,4,3,3,2
...,...,...,...,...,...,...,...
West Highland White Terrier,2,4,4,4,4,4,3
Whippet,3,4,5,5,5,5,4
Wirehaired Pointing Griffon,3,5,5,4,5,5,5
Yorkipoo,1,4,5,3,4,4,2
Yorkshire Terrier,1,3,5,4,3,2,2

In [136]:
breeds.values

array(['Affenpinscher', 'Afghan Hound', 'Airedale Terrier', 'Akita',
       'Alaskan Klee Kai', 'Alaskan Malamute', 'American Bulldog',
       'American English Coonhound', 'American Eskimo Dog',
       'American Foxhound', 'American Pit Bull Terrier',
       'American Staffordshire Terrier', 'American Water Spaniel',
       'Anatolian Shepherd Dog', 'Appenzeller Sennenhunde',
       'Australian Cattle Dog', 'Australian Kelpie',
       'Australian Shepherd', 'Australian Terrier', 'Azawakh', 'Barbet',
       'Basenji', 'Basset Hound', 'Beagle', 'Bearded Collie',
       'Bedlington Terrier', 'Belgian Malinois', 'Belgian Sheepdog',
       'Belgian Tervuren', 'Berger Picard', 'Bernedoodle',
       'Bernese Mountain Dog', 'Bichon Frise', 'Black Mouth Cur',
       'Black Russian Terrier', 'Black and Tan Coonhound', 'Bloodhound',
       'Blue Lacy', 'Bluetick Coonhound', 'Boerboel', 'Bolognese',
       'Border Collie', 'Border Terrier', 'Borzoi', 'Boston Terrier',
       'Bouvier des Flandres', 'Boxer', 'Boykin Spaniel',
       'Bracco Italiano', 'Briard', 'Brittany', 'Brussels Griffon',
       'Bull Terrier', 'Bulldog', 'Bullmastiff', 'Cairn Terrier',
       'Canaan Dog', 'Cane Corso', 'Cardigan Welsh Corgi',
       'Catahoula Leopard Dog', 'Caucasian Shepherd Dog',
       'Cavalier King Charles Spaniel', 'Cesky Terrier',
       'Chesapeake Bay Retriever', 'Chihuahua', 'Chinese Crested',
       'Chinese Shar-Pei', 'Chinook', 'Chow Chow', 'Clumber Spaniel',
       'Cockapoo', 'Cocker Spaniel', 'Collie', 'Coton de Tulear',
       'Curly-Coated Retriever', 'Dachshund', 'Dalmatian',
       'Dandie Dinmont Terrier', 'Doberman Pinscher', 'Dogo Argentino',
       'Dogue de Bordeaux', 'Dutch Shepherd', 'English Cocker Spaniel',
       'English Foxhound', 'English Setter', 'English Springer Spaniel',
       'English Toy Spaniel', 'Entlebucher Mountain Dog', 'Field Spaniel',
       'Finnish Lapphund', 'Finnish Spitz', 'Flat-Coated Retriever',
       'Fox Terrier', 'French Bulldog', 'German Pinscher',
       'German Shepherd Dog', 'German Shorthaired Pointer',
       'German Wirehaired Pointer', 'Giant Schnauzer',
       'Glen of Imaal Terrier', 'Goldador', 'Golden Retriever',
       'Goldendoodle', 'Gordon Setter', 'Great Dane', 'Great Pyrenees',
       'Greater Swiss Mountain Dog', 'Greyhound', 'Harrier', 'Havanese',
       'Ibizan Hound', 'Icelandic Sheepdog', 'Irish Red and White Setter',
       'Irish Setter', 'Irish Terrier', 'Irish Water Spaniel',
       'Irish Wolfhound', 'Italian Greyhound', 'Jack Russell Terrier',
       'Japanese Chin', 'Japanese Spitz', 'Karelian Bear Dog', 'Keeshond',
       'Kerry Blue Terrier', 'Komondor', 'Kooikerhondje', 'Kuvasz',
       'Labradoodle', 'Labrador Retriever', 'Lagotto Romagnolo',
       'Lakeland Terrier', 'Lancashire Heeler', 'Leonberger',
       'Lhasa Apso', 'Lowchen', 'Maltese', 'Maltese Shih Tzu', 'Maltipoo',
       'Manchester Terrier', 'Mastiff', 'Miniature Pinscher',
       'Miniature Schnauzer', 'Mudi', 'Mutt', 'Neapolitan Mastiff',
       'Newfoundland', 'Norfolk Terrier', 'Norwegian Buhund',
       'Norwegian Elkhound', 'Norwegian Lundehund', 'Norwich Terrier',
       'Nova Scotia Duck Tolling Retriever', 'Old English Sheepdog',
       'Otterhound', 'Papillon', 'Peekapoo', 'Pekingese',
       'Pembroke Welsh Corgi', 'Petit Basset Griffon Vendeen',
       'Pharaoh Hound', 'Plott', 'Pocket Beagle', 'Pointer',
       'Polish Lowland Sheepdog', 'Pomeranian', 'Pomsky', 'Poodle',
       'Portuguese Water Dog', 'Pug', 'Puggle', 'Puli',
       'Pyrenean Shepherd', 'Rat Terrier', 'Redbone Coonhound',
       'Rhodesian Ridgeback', 'Rottweiler', 'Saint Bernard', 'Saluki',
       'Samoyed', 'Schipperke', 'Schnoodle', 'Scottish Deerhound',
       'Scottish Terrier', 'Sealyham Terrier', 'Shetland Sheepdog',
       'Shiba Inu', 'Shih Tzu', 'Siberian Husky', 'Silken Windhound',
       'Silky Terrier', 'Skye Terrier', 'Sloughi',
       'Small Munsterlander Pointer', 'Soft Coated Wheaten Terrier',
       'Stabyhoun', 'Staffordshire Bull Terrier', 'Standard Schnauzer',
       'Sussex Spaniel', 'Swedish Vallhund', 'Tibetan Mastiff',
       'Tibetan Spaniel', 'Tibetan Terrier', 'Toy Fox Terrier',
       'Treeing Tennessee Brindle', 'Treeing Walker Coonhound', 'Vizsla',
       'Weimaraner', 'Welsh Springer Spaniel', 'Welsh Terrier',
       'West Highland White Terrier', 'Whippet',
       'Wirehaired Pointing Griffon', 'Yorkipoo', 'Yorkshire Terrier'],
      dtype=object)

In [137]:
rds_connection_string = (f"{postgresLogin}:{postgresPwd}@localhost:5432/nyc_dogs_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [138]:
engine.table_names()

['nyc_dog', 'dog_rating']

In [149]:
new_dog_df.index.name = 'breed'
new_dog_df

,size,intelligence,energy,exercise_needs,friendly_overall,friendly_kids,friendly_strangers
breed,,,,,,,
Affenpinscher,1,4,4,3,3,1,3
Afghan Hound,4,4,5,4,4,5,2
Airedale Terrier,3,5,5,5,4,4,3
Akita,4,3,4,4,2,1,2
Alaskan Klee Kai,2,4,4,4,3,3,2
...,...,...,...,...,...,...,...
West Highland White Terrier,2,4,4,4,4,4,3
Whippet,3,4,5,5,5,5,4
Wirehaired Pointing Griffon,3,5,5,4,5,5,5
Yorkipoo,1,4,5,3,4,4,2
Yorkshire Terrier,1,3,5,4,3,2,2

In [150]:
#load data to postgres

new_dog_df.to_sql(name='dog_rating', con=engine, if_exists='append', index=True)