In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
nycDog_file = "./data/NYC_Dog_Licensing_Dataset.csv"
nycDog_df = pd.read_csv(nycDog_file)
nycDog_df.head()

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,NaN,10035,09/12/2014,09/12/2017,2016
1,2,YOGI,M,2010,Boxer,NaN,10465,09/12/2014,10/02/2017,2016
2,3,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2016
3,4,QUEEN,F,2013,Akita Crossbreed,NaN,10013,09/12/2014,09/12/2017,2016
4,5,LOLA,F,2009,Maltese,NaN,10028,09/12/2014,10/09/2017,2016

In [23]:
nycDog_df.sort_values("RowNumber", inplace = True)
nycDog_df.head(10)

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
112719,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,NaN,10035,09/12/2014,09/12/2017,2017
228356,1,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2018
228357,2,IAN,M,2006,Unknown,NaN,10013,09/12/2014,10/30/2019,2018
1,2,YOGI,M,2010,Boxer,NaN,10465,09/12/2014,10/02/2017,2016
112720,2,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2017
112721,3,QUEEN,F,2013,Akita Crossbreed,NaN,11368,09/12/2014,09/12/2017,2017
2,3,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2016
228358,3,CHEWBACCA,F,2012,Labrador Retriever Crossbreed,NaN,10013,09/12/2014,10/01/2019,2018
228359,4,LOLA,F,2006,Miniature Pinscher,NaN,10022,09/13/2014,10/03/2019,2018
3,4,QUEEN,F,2013,Akita Crossbreed,NaN,10013,09/12/2014,09/12/2017,2016

In [20]:
nycDog_df.shape
nycDog_df.columns

Index(['RowNumber', 'AnimalName', 'AnimalGender', 'AnimalBirthMonth',
       'BreedName', 'Borough', 'ZipCode', 'LicenseIssuedDate',
       'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

In [21]:
#nycDog_df.drop_duplicates(subset=["RowNumber", "AnimalName", "BreadName"], keep='last' , inplace=True)

nycDog_df.drop_duplicates(subset=["RowNumber", "AnimalName", "BreedName"], keep='last' , inplace=True)

nycDog_df.shape

(345696, 10)

In [29]:
S
nycDog_df_transformed= nycDog_df[nycDog_df_cols].copy()
nycDog_df_transformed.shape
nycDog_df_transformed.head()

,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,ZipCode
112719,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035
228356,ALI,M,2014,Basenji,10013
228357,IAN,M,2006,Unknown,10013
1,YOGI,M,2010,Boxer,10465
112720,ALI,M,2014,Basenji,10013